{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      },
      "corejs": "3",
      "useBuiltIns": "usage"
    }],
    "@babel/react"
  ],
  "plugins": [
    "react-loadable/babel",
    "@babel/plugin-syntax-dynamic-import"
  ]
}